.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: 'Outfit', sans-serif;
}
body {
	background-color: hsl(212, 45%, 89%);
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: hsl(0, 0, 100%);
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.274);
	&__img {
		border-radius: 10px;
		width: 100%;
	}
	&__title {
		font-weight: bold;
		text-align: center;
		padding: 0 5px;
		margin-top: 20px;
		font-size: 0.8rem;
	}
	&__text {
		margin-top: 20px;
		text-align: center;
		color: hsl(220, 15%, 55%);
		font-size: 0.8rem;
	}
}
.box {
	display: flex;
	justify-content: center;
	height: 80vh;
	width: 80vw;
}

@media (min-width: 375px) {
	.card {
		width: 70%;
	}
}

@media (min-width: 512px) {
	.card {
		width: 60%;
	}
}
@media (min-width: 768px) {
	.card {
		width: 40%;
	}
}
@media (min-width: 1024px) {
	.card {
		width: 40%;
	}
	.box {
		background-color: hsl(212, 45%, 89%);
		box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.37);
	}
	body {
		background-color: hsl(220, 15%, 55%);
	}
}

footer {
	margin-top: 15px;
	padding: 0 20px;
}
